<div class="container">
  <h1 class="title">Alphabetized Customers</h1>
  <div class="buttons">
    <%= link_to "All Customers", root_path, class: "button is-info" %>
    <%= link_to "Missing Email Customers", missing_email_customers_path, class: "button is-primary" %>
  </div>
  <%= render @customers %>
</div>