<div class="container">
  <h1 class="title">Customers Missing Email</h1>
  <div class="buttons">
    <%= link_to "All Customers", root_path, class: "button is-info" %>
    <%= link_to "Alphabetized Customers", alphabetized_customers_path, class: "button is-primary" %>
  </div>
  <%= render @customers %>
</div>